/Article.class
/AuthorTasks.class
/EditorTasks.class
/JournalList.class
/LoginPanel.class
/Main.class
/MainHandler.class
/MainPanel$1.class
/MainPanel$2.class
/MainPanel.class
/MySQLConnection.class
/ReviewerTasks.class
/Submission.class
/sql.class
